---
import Layout from '../layouts/Layout.astro';
import PuffProcurementApp from '../components/PuffProcurementApp';
---

<Layout title="Puff Procurement">
  <div class="relative z-10 px-8 lg:px-18">
    <h1 class="mb-4 text-2xl font-bold text-light-text-heading lg:mb-6 lg:text-5xl dark:text-white">
      Puff Procurement
    </h1>

    <p class="mb-5">
		An interactive spreadsheet for cultivators to use as a starting point when planning a grow site from the ground up!
    </p>

	<h2 class="section-heading-underlined mt-16 lg:mt-24">Plan Your Grow</h2>

    <div class="mt-9 lg:mt-12 pb-8 lg:pb-18">
    	<PuffProcurementApp client:load />
	</div>
  </div>
</Layout>
